html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: blanchedalmond;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: blanchedalmond;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: maroon;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-decoration: none;
}

nav ul li a:hover {
  font-style: normal;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px) {
  nav {
    visibility: hidden;
  }
}

.navigation {
  margin: 0;
  padding: 0;
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px) {
  .navigation {
    width: 0%;
  }
}

.current {
  border-bottom: 4px solid maroon;
}

.inDropdown {
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
}

.logo {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 250px;
}

.logo:hover .logo-white {
  display: inline;
}

@media only screen and (max-width: 768px), only screen and (max-width: 1024px) {
  .logo {
    height: 120px;
    width: 150px;
  }
}

.logo-white {
  display: none;
  position: absolute;
  height: 200px;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 2;
}

@media only screen and (max-width: 768px), only screen and (max-width: 1024px) {
  .logo-white {
    height: 120px;
    width: 150px;
  }
}

.main {
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  color: maroon;
  background-color: blanchedalmond;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px) {
  .main {
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.logo-mobile-only {
  display: none;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px) {
  .logo-mobile-only {
    display: inline-block;
    position: relative;
    height: 120px;
    width: 150px;
  }
}

.zineviewer {
  margin: 0;
  padding: 0;
}

.zineviewer button {
  background-color: maroon;
  border: blanchedalmond;
  color: blanchedalmond;
  padding: 1em 2em;
  margin: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.zineviewer button:hover {
  background-color: #990000;
}

.prompts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

.full-row {
  font-weight: bold;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px), only screen and (max-width: 768px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.rotating-home {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 10%;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px), only screen and (max-width: 768px) {
  .home-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0%;
  }
}

.archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-right: 10%;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px), only screen and (max-width: 768px) {
  .archive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.archiveIssuePadding {
  width: 5%;
}

@media only screen and (max-width: 320px), only screen and (max-width: 480px), only screen and (max-width: 768px) {
  .archiveIssuePadding {
    width: 0%;
  }
}
/*# sourceMappingURL=style.css.map */