$primaryBackground: blanchedalmond;
$primaryFont: Georgia, 'Times New Roman', Times, serif;
$primaryFontColor: maroon;
$lighterPrimaryFont: #990000;

html {
    box-sizing: border-box;
    background-color: $primaryBackground;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

// styling for navigation

nav {
    ul {
        list-style: none;
        display: flex;
        flex-direction:column;
        background-color: $primaryBackground;
        margin-bottom: 20px;
        box-sizing: border-box;
        li {
            padding: 20px;
            a {
                color: $primaryFontColor;
                font-family: $primaryFont;
                font-style: italic;
                text-decoration: none;
                &:hover{
                    font-style: normal;
                }
            }
        }
    }
}

.navigation {
    margin: 0;
    padding: 0;
    width: 20%;
    box-sizing: border-box;
    float:left;
}

.current {
    border-bottom: 4px solid $primaryFontColor;
}

.logo {
    position: relative;
    display: inline-block;
    &:hover {
        .logo-white {
            display: inline;
        }
    }
}
.logo-white {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

// styling for all pages

.main {
    width: 80%;
    box-sizing: border-box;
    float: right;
    color: $primaryFontColor;
    background-color: $primaryBackground;
}

// ZineViewer

.zineviewer {
    margin: 0;
    padding: 0;
    button {
        background-color: $primaryFontColor;
        border: $primaryBackground;
        color: $primaryBackground;
        padding: 1em 2em;
        margin: 0.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        &:hover{
            background-color: $lighterPrimaryFont;
        }
    }
}

// related to prompts page

.prompts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.full-row {
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
}

// related to homepage

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.rotating-home {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-right {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}