html {
    box-sizing: border-box;
    background-color: blanchedalmond;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.app {
    width:100%;
    margin: auto;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction:column;
    background-color: blanchedalmond;
    margin-bottom: 20px;
    box-sizing: border-box;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: none;
}

.current {
    border-bottom: 4px solid maroon;
}

.main {
    width: 80%;
    box-sizing: border-box;
    float:right;
    color: maroon;
    background-color: blanchedalmond;
}

.navigation {
    width: 20%;
    box-sizing: border-box;
    float:left;
    background-color: blanchedalmond;
}

.zineviewer {
    width: 80%;
    transform: scale(0.7);
}

.pdfpage {
    height:'400';
}